{:paths
 ["src" "dev" "test"]

 :mvn/local-repo "./m2"
 
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  clj-mvt {:mvn/version "1.0.0-alpha"}
  
  ;; To use this git dependency
  ;; - Uncomment the next line and comment out all other clojure.java-time dependencies
  ;; clojure.java-time {:git/url "https://github.com/dm3/clojure.java-time" :sha "707f16daf19e04cf182cc532a2cce8db170ea178"}

  ;; To use this local dependency
  ;; - cd /tmp
  ;; - git clone https://github.com/dm3/clojure.java-time.git
  ;; - Uncomment the next line and comment out all other clojure.java-time dependencies
  ;; clojure.java-time {:local/root "/tmp/clojure.java-time"}

  ;; This is a maven dependency
  clojure.java-time {:mvn/version "0.3.2"}}
 
 :aliases
 {:socket {:jvm-opts ["-Xms2g"
                      "-Xmx2g"
                      "-server"
                      "-Dclojure.server.repl={:port,5555,:accept,clj-mvt.repl/socket-repl}"]}
  
  ;; See https://github.com/cognitect-labs/test-runner
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
         :main-opts ["-m" "cognitect.test-runner"]}

  :pom {:main-opts ["-m" "clj-mvt.tools" "--pom" "1.0.0-alpha"]}
  
  ;; See https://github.com/seancorfield/dot-clojure/blob/master/deps.edn
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
            :main-opts ["-m" "hf.depstar.uberjar" "clj-mvt-eg-1.0.0-alpha-standalone.jar"]}

  ;; See https://github.com/seancorfield/dot-clojure/blob/master/deps.edn  
  :jar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
        :main-opts ["-m" "hf.depstar.jar" "clj-mvt-eg-1.0.0-alpha.jar"]}

  ;; See https://github.com/slipset/deps-deploy  
  :install {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "clj-mvt-eg-1.0.0-alpha.jar"]}

  ;; See https://github.com/slipset/deps-deploy
  :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "clj-mvt-eg-1.0.0-alpha.jar"]}}}

